In [5]:
from preprocessing.utils import preprocessing_score as prep
import pandas as pd

In [6]:
df = pd.read_csv("data/X_train_J01Z4CN.csv", index_col="id_annonce")
dfy = pd.read_csv("data/y_train_OXxrJt1.csv", index_col="id_annonce")
df['price']=dfy

In [7]:
Object = prep()

In [8]:
df

,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,energy_performance_category,...,nb_boxes,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors,price
id_annonce,,,,,,,,,,,,,,,,,,,,,
35996577,appartement,43.643880,7.117183,villeneuve-loubet,6270,63.0,NaN,NaN,NaN,NaN,...,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,355000.0
35811033,appartement,45.695757,4.895610,venissieux,69200,90.0,3.0,NaN,223.0,D,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0
35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,NaN,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39000.0
35886765,maison,47.289292,-1.878805,cordemais,44360,142.0,NaN,764.0,217.0,D,...,1.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,299000.0
35781137,appartement,45.718992,4.844234,lyon-7eme,69007,88.0,3.0,NaN,NaN,NaN,...,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,478000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35881571,appartement,43.480292,-1.484324,bayonne,64100,2995.0,NaN,NaN,255.0,E,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0
35890109,appartement,48.861391,2.401158,paris-20eme,75020,36.0,4.0,NaN,229.0,D,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399000.0
36010245,appartement,44.397837,-1.164312,biscarrosse,40600,99.0,2.0,NaN,NaN,NaN,...,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,328000.0
35864579,duplex,48.864204,2.808693,magny-le-hongre,77700,9281.0,NaN,NaN,NaN,NaN,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,463000.0
35748883,maison,46.032306,1.966711,le-donzeil,23480,90.0,NaN,600.0,NaN,NaN,...,0.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69930.0

In [9]:
df_preprocessed = Object.apply_preprocessing(df)
df_preprocessed

,scorePropertyType,scoreCity,scoreSize,scoreLandsize,scoreFloor,scoreRoom,nb_parking_places,nb_boxes,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors,price
id_annonce,,,,,,,,,,,,,,,,
35996577,0.543463,5275.736122,63.0,0.0,0.000000,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,355000.0
35811033,0.543463,5268.414609,90.0,0.0,1.386294,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0
35731841,0.492737,4489.0,61.0,370.0,0.000000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39000.0
35886765,0.492737,4439.0,142.0,764.0,0.000000,4.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,299000.0
35781137,0.543463,5987,88.0,0.0,1.386294,4.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,478000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35881571,0.543463,2013.0,299.5,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0
35890109,0.543463,10570,36.0,0.0,1.609438,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399000.0
36010245,0.543463,3822.0,99.0,0.0,1.098612,4.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,328000.0
35864579,0.543463,3507.398152,928.1,0.0,0.000000,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,463000.0
35748883,0.492737,1488.0,90.0,600.0,0.000000,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69930.0